<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
        <p class="font-size-title">Mis Pacientes</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card rounded" style="margin: auto; text-align='center'">
      <div class="card-content">
  <table>
    <thead>
      <tr>
        <th><p>Paciente</p></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% current_pacientes_nutriologo.each do |paciente| %>
        <tr>
          <td><p><%= paciente.username %></p></td>
          <td><%= link_to 'Ver Info Paciente', "/sesiones_paciente/"+paciente.id.to_s(), class: "col s10 btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
      </div>
    </div>
  </div>
</div>
